.jumbotron-heading{
    letter-spacing: 5px;
}

.navbar .navbar-nav .nav-item .nav-link{
    transition: .6s;
    border-radius: 3px;
}

.navbar .navbar-nav .nav-item .nav-link:hover{
    color: black;
    background-color: aliceblue;
}

.fa{
    transition: .3s;
}

.fa:hover{
    color:#585858;
}

.page-footer{
    background-color: #1C1C1C;
    color: white;
}

#fixed{
    background: url(images/background.jpg) no-repeat center center fixed;
    width: 100%;
    height: 60vh;
    position: relative;
    background-size: cover;
    display: flex;
    align-items: center;

}


.v-header{
    height: 100vh;
    display: flex;
    align-items: center; 
}

.video-wrap{
    position: absolute;
    width:100%;
    height: 100vh;
    overflow-x: hidden;
}

.header-overlay{
    position: absolute;
    height: 100vh;
    width: 100%;
    background: #225470;
    z-index: 1;
    opacity: 0.85;
}

.header-content{
    z-index: 2;
}

.para{
    color: white;
}

.heading{
    color: white;
}
